<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title %>
    </title>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/public/css/style.css">




</head>

<body>
    <header class="header">

        <section class="flex">

            <a href="/Home" class="logo">Educa.</a>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="toggle-btn" class="fas fa-sun"></div>
            </div>

            <div class="profile">
                <img src="/uploads/<%= login.profileImage %>" class="image" alt="">
                <h3 class="name">
                    <%= login.name %>
                </h3>
                <p class="role">
                    <%= login.role %>
                </p>
                <a href="/dashboard/<%= login._id %>" class="btn">view Dashboard</a>
                <div class="flex-btn">
                    <a href="/logout" class="option-btn">logout</a>
                </div>
            </div>

        </section>

    </header>

    <div class="side-bar">

        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/uploads/<%= login.profileImage %>" class="image" alt="">
            <h3 class="name">
                <%= login.name %>
            </h3>
            <p class="role">
                <%= login.role %>
            </p>
            <a href="/dashboard/<%= login._id %>" class="btn">view Dashboard</a>
        </div>

        <nav class="navbar">
            <a href="/Home"><i class="fas fa-home"></i><span>home</span></a>
            <a href="/About"><i class="fas fa-question"></i><span>about</span></a>
            <a href="/Courses"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
            <a href="/Teachers"><i class="fas fa-chalkboard-user"></i><span>teachers</span></a>
            <a href="/Contact"><i class="fas fa-headset"></i><span>contact us</span></a>
        </nav>

    </div>



    <main style="display: flex;align-items:center;flex-direction:column;">
        <% if(message){ %>
            <div class="alert <%= message.type%>">
                <%= message.message %>
            </div>
            <% } %>
    </main>


    <section class="teachers">

        <h1 class="heading">expert teachers</h1>

        <form action="" method="post" class="search-tutor">
            <input id="search-tutor-item" type="text" name="search_box" placeholder="search tutors..." required maxlength="100">
            <button type="submit" class="fas fa-search"></button>
        </form>
        
        

        <div class="box-container">

            <% users.forEach(user=> { %>
                <% if (user.role==='Teacher' ) { %>
                    <div class="box">
                        <div class="tutor">
                            <img src="/uploads/<%= user.profileImage %>" alt="">
                            <div>
                                <h3>
                                    <%= user.name %>
                                </h3>
                                <span>
                                    <%= user.role %>
                                </span>
                            </div>
                        </div>
                        <p>total playlists: <span>
                                <%= user.playlists.length %>
                            </span></p>
                        <p>total videos: <span>
                                <%= user.playlists.reduce((total, playlist)=> total + playlist.videos.length, 0) %>
                            </span></p>
                        <a href="/Teacher_profile/<%= user.id %>" class="inline-btn">view profile</a>
                    </div>
                    <% } %>
                        <% }) %>
                    


        </div>

    </section>

    

    
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchbox = document.getElementById("search-tutor-item");
            const teachers = document.querySelectorAll(".box-container .box");
    
            function searchTutors() {
                const searchText = searchbox.value.toUpperCase();
    
                for (let i = 0; i < teachers.length; i++) {
                    let teacherName = teachers[i].querySelector(".tutor h3");
                    let textValue = teacherName.textContent || teacherName.innerText;
    
                    if (textValue.toUpperCase().indexOf(searchText) > -1) {
                        teachers[i].style.display = "";
                    } else {
                        teachers[i].style.display = "none";
                    }
                }
            }
    
            // Add an input event listener
            searchbox.addEventListener('input', function () {
                searchTutors(); // Call the searchTutors function on input event
            });
        });
    </script>
    

    <script src="/public/js/script.js"></script>







</body>

</html>